$font-family: "gobCL","Open Sans", sans-serif;
$font-family-open: "Open Sans", "gobCL", sans-serif;

$color-azul: #0f69b4;
$color-azul-hover: #045282;
$color-rojo: #eb3646;
$color-gris-texto: #475156;

$border-bottom-box: 2px solid #BDC9D1;
