.buscar {
    margin: 0 auto 20px;
    font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}

#content #sidebar .buscar label {
    margin-bottom: 14px;
}

.buscar label {
    display: block;
    clear: both;
    font-size: 18px;
    font-weight: 500;
    color: #475156;
    margin-bottom: 6px;
}


#content #sidebar .buscar input#query {
    width: 280px;
}

.buscar input#query {
    width: 280px;
    background: #fff;
    color: #7a8791;
    padding: 6px 15px 0;
}

.buscar input {
    margin: 0;
    display: block;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    background: none;
    height: 42px;
    border-top: 2px solid #bdc9d1;
    float: left;
}

.buscar input#boton {
    width: 40px;
    background: #0f69b4 url("../images/buscar-bg.png") no-repeat center;
    background-size: auto;
    background-size: 18px;
    text-indent: 1000%;
}
.buscar input {
    margin: 0;
    display: block;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    background: none;
    height: 42px;
    border-top: 2px solid #bdc9d1;
    float: left;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
